*.suo
*.user
*.cachefile
*.xnb
*.sln.docstates
*.cache
csg.net/_Resharper*
csg.net/Xna.Csg/bin
csg.net/Xna.Csg/obj
csg.net/ShapeRenderer/ShapeRenderer/bin
csg.net/ShapeRenderer/ShapeRenderer/obj
csg.net/ShapeRenderer/ShapeRendererContent/bin
csg.net/ShapeRenderer/ShapeRendererContent/obj
csg.net/CsgTests/bin
csg.net/CsgTests/obj
csg.net/TestResults